# Python virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables and secrets
.env
*.json

# Data files
*.csv
*.parquet
*.zip

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db